/* Estilos para los diferentes estados con tonos aún más suaves */
.estado-pendiente {
    background-color: #fff9c4; /* Amarillo muy suave */
    color: #212529; /* Texto oscuro para contraste */
}

.estado-rechazado {
    background-color: #fddede; /* Rojo muy suave */
    color: #212529; /* Texto oscuro para contraste */
}

.estado-aceptado {
    background-color: #dcedc8; /* Verde muy suave */
    color: #212529; /* Texto oscuro para contraste */
}

